<div class="about-info-container">
  <div class="about-info-header">
    <h3>About - Deployments Manager</h3>
  </div>
  <div class="about-info-inner">
    The deployment manager tool provides a graphical interface through which the deployer can create/edit a specific deployment installation and have an overview of the deployment inventory, along with its installed devices and services.
    <br>
    Through the deployment manager, the deployer can edit/view the component installation characteristics, such as the locations where devices are installed, their current operational status, etc.
  </div>
</div>
