<div class="about-info-container">
  <div class="about-info-header">
    <h3>About - Component Configurator</h3>
  </div>
  <div class="about-info-inner">
    The Component Configuration is a web application for creating or editing the platforms and devices built into the system.
    <br>
    The purpose of this tool is to provide an easy and user-friendly graphical interface to list and configure the different components (devices, services or platforms) currently deployed and running in a deployment unit
  </div>
</div>
