<div class="resource-container2">

  <div class="resource-header2">
    <h3>Add Platform</h3>

    <div class="close-info" title="Close window" ng-click="addPlatform.closeDeviceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

    <form class="add-form" name="add-platform">

      <input type="text" placeholder="Id" ng-model="addPlatform.platformId">
      <label class="form-label">Id:</label>

      <select ng-model="addPlatform.type">
        <option ng-repeat="option in addPlatform.getPlatformsType()" value="{{option}}">{{option}}</option>
      </select>
      <label class="form-label">Type:</label>

      <input type="text" placeholder="Endpoint" ng-model="addPlatform.baseEndpoint">
      <label class="form-label">Endpoint:</label>

      <input type="text" placeholder="Location" ng-model="addPlatform.location">
      <label class="form-label">Location:</label>

      <input type="text" placeholder="Name" ng-model="addPlatform.name">
      <label class="form-label">Name:</label>

      <input type="text" placeholder="Username" ng-model="addPlatform.username">
      <label class="form-label">Username:</label>

      <input type="password" placeholder="Password" ng-model="addPlatform.encryptedPassword">
      <label class="form-label">Password:</label>

      <input type="text" placeholder="Algorithm" ng-model="addPlatform.encryptedAlgorithm">
      <label class="form-label">Algorithm:</label>

      <input type="text" placeholder="Downstream Input Alignment Name" ng-model="addPlatform.downInputAligName">
      <label class="form-label">Downstream Input Alignment Name:</label>

      <input type="text" placeholder="Downstream Input Alignment Version" ng-model="addPlatform.downInputAligVers">
      <label class="form-label">Downstream Input Alignment Version:</label>

      <input type="text" placeholder="Downstream Output Alignment Name" ng-model="addPlatform.downOutputAligName">
      <label class="form-label">Downstream Output Alignment Name:</label>

      <input type="text" placeholder="Downstream Output Alignment Version" ng-model="addPlatform.downOutputAligVers">
      <label class="form-label">Downstream Output Alignment Version:</label>

      <input type="text" placeholder="Upstream Input Alignment Name" ng-model="addPlatform.upInputAligName">
      <label class="form-label">Upstream Input Alignment Name:</label>

      <input type="text" placeholder="Upstream Input Alignment Version" ng-model="addPlatform.upInputAligVers">
      <label class="form-label">Upstream Input Alignment Version:</label>

      <input type="text" placeholder="Upstream Output Alignment Name" ng-model="addPlatform.upOutputAligName">
      <label class="form-label">Upstream Output Alignment Name:</label>

      <input type="text" placeholder="Upstream Output Alignment Version" ng-model="addPlatform.upOutputAligVers">
      <label class="form-label">Upstream Output Alignment Version:</label>

      <hr class="line">

      <button type="submit" class="info-button" ng-click="addPlatform.createPlatform()">
        <span>Create</span>
      </button>

    </form>

  </div>

</div>
