<div class="menu-container">

  <div class="menu-bar" ng-click="openMenu = !openMenu; component.retrievePlatforms()">
    <span>{{component.getSelectedPlatform()}}</span>
    <div class="menu-square" ng-class="{'menu-square-active' : openMenu}">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>

  <div class="menu-option-container" ng-class="{ 'menu-option-container-active' : openMenu}">
    <div
      ng-repeat="platform in component.getPlatforms()"
      ng-click="component.selectPlatform(platform)">
      <div class="menu-option">
        <span>{{platform.name}}</span>
      </div>
    </div>
  </div>

  <p></p>

  <div class="menu-bar" ng-click="openMenu2 = !openMenu2">
    <span>{{component.getSelectedClient()}}</span>
    <div class="menu-square" ng-class="{'menu-square-active' : openMenu2}">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>

  <div class="menu-option-container" ng-class="{ 'menu-option-container-active' : openMenu2}">
    <div
      ng-repeat="client in component.getClients()"
      ng-click="component.selectClient(client)">
      <div class="menu-option">
        <span>{{client.clientId}}</span>
      </div>
    </div>
  </div>

</div>
