<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployment: {{deployInfo.deploymentServiceData.currentDeployment.id}}</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="deployInfo.closeDeploymentInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

      <div class="info-left">
        Id:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.id}}
      </div>

      <div class="info-left">
        Date:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.date}}
      </div>

      <div class="info-left">
        Location:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.location}}
      </div>

    <hr class="line">

      <div class="info-left">
        Organization Id:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.organization.id}}
      </div>

      <div class="info-left">
        Organization Label:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.organization.label}}
      </div>

    <hr class="line">

      <div class="info-left">
        Platform Id:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.platform.id}}
      </div>

      <div class="info-left">
        Platform Label:
      </div>
      <div class="info-right">
        {{deployInfo.deploymentServiceData.currentDeployment.platform.label}}
      </div>

      <div class="info-left">
        Devices:
      </div>

      <div ng-repeat="x in deployInfo.deploymentServiceData.currentDeployment.platform.devices">
        <div class="info-right">
          {{x}}
        </div>
      </div>

    <hr class="line">

    <div class="button-container-form">
      <button type="submit" class="info-button" ng-click="deployInfo.goToDeleteDeployment()">
        <span>Delete</span>
      </button>

      <button type="submit" class="info-button" ng-click="deployInfo.goToUpdateDeployment()">
        <span>Update</span>
      </button>
    </div>

  </div>

</div>
