<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployment Installations</h3>
    </div>
    <div class="option-header-right">
      <div class="square-header-button"
           title="List of Devices"
           ng-class="{ 'button-header-active' : ('main.deployment_manager.device_list' | routeSegmentEqualsTo) }"
           ng-click="deployCtrl.goToDeviceList()">
        <span class="glyphicon glyphicon-th-list"></span>
      </div>
      <div class="square-header-button"
           title="Create Deployment Installation"
           ng-class="{ 'button-header-active' : ('main.deployment_manager.create_deployment' | routeSegmentEqualsTo) }"
           ng-click="deployCtrl.createDeployment()">
        <span class="glyphicon glyphicon-plus"></span>
      </div>

    </div>
  </div>

  <div ng-show="deployCtrl.deploymentData.retrievalStatus['deployments'] === deployCtrl.deploymentData.operationStatus.IN_PROGRESS">
    <div class="spinner-container">
      <div class="spinner">
      </div>
    </div>
  </div>
  <div ng-show="deployCtrl.deploymentData.retrievalStatus['deployments'] === deployCtrl.deploymentData.operationStatus.FAILURE">
    Cannot retrieve deployments
  </div>
  <div ng-show="deployCtrl.deploymentData.retrievalStatus['deployments'] === deployCtrl.deploymentData.operationStatus.SUCCESS"
       class="option-device-container">
    <div class="option-device"
         ng-class="{ 'option-device-active': deployment.id === deployCtrl.deploymentData.currentDeployment.id }"
         ng-repeat="deployment in deployCtrl.deploymentData.deployments">

      <div class="option-name-container" ng-click="deployCtrl.selectDeployment(deployment)">
        <span class="option-name">{{deployment.id}}</span>
        <br class="jump-line">
        <span class="option-platform">{{deployment.date}}</span>
      </div>

      <div class="option-buttons-container">
        <div class="square-option-device-button"
             ng-class="{ 'option-device-button-active' : deployment.id === deployCtrl.deploymentData.currentDeployment.id }"
             ng-click="deployCtrl.updateDeployment(deployment)">
          <span class="glyphicon glyphicon-edit"></span>
        </div>
      </div>
    </div>
  </div>

</div>
