<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployment Installations</h3>
    </div>
    <div class="option-header-right">
      <!--<div class="square-header-button" title="Delete Deployment Installation"
           ng-click="deployCtrl.goToDeleteDeployment()">
        <span class="glyphicon glyphicon-trash"></span>
      </div>-->
      <div class="square-header-button" title="Create Deployment Installation"
           ng-click="deployCtrl.goToCreateDeployment()">
        <span class="glyphicon glyphicon-plus"></span>
      </div>

    </div>
  </div>

  <div class="option-device-container">

    <div class="option-device"
         ng-repeat="deployment in deployCtrl.deploymentData.deployments">

      <div class="option-name-container" ng-click="deployCtrl.selectDeployment(deployment)">
        <span class="option-name">{{deployment.id}}</span>
        <br class="jump-line">
        <span class="option-platform">{{deployment.date}}</span>
      </div>

      <div class="option-buttons-container">
        <div class="square-option-device-button" ng-click="deployCtrl.goToUpdateDeployment(deployment)">
          <span class="glyphicon glyphicon-edit"></span>
        </div>
      </div>
    </div>

  </div>

</div>
