<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployment Information</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="deployInfo.closeDeploymentInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

      <div class="info-left">
        Id:
      </div>
      <div class="info-right">
        Deployment Id
      </div>

      <div class="info-left">
        Date:
      </div>
      <div class="info-right">
        Date
      </div>

      <div class="info-left">
        Location:
      </div>
      <div class="info-right">
        Location
      </div>

    <hr class="line">

      <div class="info-left">
        Organization Id:
      </div>
      <div class="info-right">
        Organization Id
      </div>

      <div class="info-left">
        Organization Label:
      </div>
      <div class="info-right">
        Organization Label
      </div>

    <hr class="line">

      <div class="info-left">
        Platform Id:
      </div>
      <div class="info-right">
        Platform Id
      </div>

      <div class="info-left">
        Platform Label:
      </div>
      <div class="info-right">
        Platform Label
      </div>

      <div class="info-left">
        Devices:
      </div>
      <div class="info-right">
        Devices
      </div>

    <hr class="line">

      <div class="info-left">
        Device Id:
      </div>
      <div class="info-right">
        Devices Id
      </div>

      <div class="info-left">
        Device Label:
      </div>
      <div class="info-right">
        Devices Label
      </div>

      <div class="info-left">
        Device Type:
      </div>
      <div class="info-right">
        Devices Type
      </div>

      <div class="info-left">
        Sensors:
      </div>
      <div class="info-right">
        Sensors
      </div>

    <hr class="line">

      <div class="info-left">
        Sensor Id:
      </div>
      <div class="info-right">
        Sensor Id
      </div>

      <div class="info-left">
        Sensor Type:
      </div>
      <div class="info-right">
        Sensor Type
      </div>

    <hr class="line">

    <div class="button-container-form">
      <button type="submit" class="info-button" ng-click="deployInfo.goToDeleteDeployment()">
        <span>Delete</span>
      </button>

      <button type="submit" class="info-button" ng-click="deployInfo.goToUpdateDeployment()">
        <span>Update</span>
      </button>
    </div>

  </div>

</div>
