<div class="option-container">

  <div class="option-header">
    <h3>Device Manager</h3>
  </div>

  <div class="option-device-container">

    <div class="option-device-container-inner">

      <div ng-repeat="device in devCtrl.getDevices()"
           class="option-device"
           ng-class="{ 'option-device-active' : devCtrl.isDeviceSelected(device.id) }"
           ng-click="devCtrl.selectDevice(device)">

        <div class="option-name-container">
          <span class="option-name">{{device.deviceId}}</span>
          <br class="jump-line">
          <span class="option-platform">{{device.hostedBy}}</span>
        </div>

        <div class="option-buttons-container">
          <div class="option-subscription-container"
               ng-show="devCtrl.isDeviceSubscribed(device.deviceId)">
            <span class="glyphicon glyphicon-ok-circle" title="You are subscribed!"></span>
          </div>
          <div class="option-device-button"
               ng-class="{ 'option-device-button-active' : ('id' | routeSegmentParam) == device.deviceId }">
            <span>+ Info</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
