<div class="resource-container2">

  <div class="resource-header2">
    <h3>Device: {{componentDevice.getSelectedDevice().deviceId}}</h3>

    <div class="close-info" title="Close window" ng-click="componentDevice.closeDeviceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

    <div class="info-left">
      Type:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().deviceTypes[0]}}
    </div>

    <div class="info-left">
      Id:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().deviceId}}
    </div>

    <div class="info-left">
      Hosted By:
    </div>
    <div class="info-right" ng-repeat="option in componentDevice.getPlatformsId()">
      {{option.name}}
    </div>

    <div class="info-left">
      Location:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().location}}
    </div>

    <div class="info-left">
      Name:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().name}}
    </div>

    <div class="info-left">
      Hosts:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().hosts}}
    </div>

    <div class="info-left">
      For Property:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().forProperty}}
    </div>

    <div class="info-left">
      Made Actuation:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().madeActuation}}
    </div>

    <div class="info-left">
      ImplementsProcedure:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().implementsProcedure}}
    </div>

    <div class="info-left">
      Observes:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().observes}}
    </div>

    <div class="info-left">
      Detects:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().detects}}
    </div>

    <div class="info-left">
      MadeObservation:
    </div>
    <div class="info-right">
      {{componentDevice.getSelectedDevice().madeObservation}}
    </div>

    <hr class="line">

    <div class="button-container-form">
      <button type="submit" class="info-button" ng-click="componentDevice.deleteDevice()">
        <span>Delete</span>
      </button>

      <button type="submit" class="info-button" ng-click="componentDevice.goToUpdateDevice()">
        <span>Update</span>
      </button>
    </div>

  </div>

</div>
