<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>List of Devices</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="deviceList.closeDeploymentInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container" ng-init="deviceList.deviceService.retrieveDevices()">

    <div class="option-device" ng-repeat="device in deviceList.deviceData.devices">
      <span class="option-name">{{device.name}}</span>
      <br class="jump-line">
      <span class="option-platform">{{device.deviceId}}</span>
    </div>

  </div>

</div>
