<div class="resource-container2">

  <div class="resource-header2">
    <h3>Device: {{devCtrl.getSelectedDevice().deviceId}}</h3>

    <div class="close-info" title="Close window" ng-click="devCtrl.closeDeviceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="info-container2">

    <form class="add-form" name="add-device">

      <select ng-model="devCtrl.getSelectedDevice().deviceTypes[0]">
        <option value="DEVICE">Device</option>
        <option value="SENSOR">Sensor</option>
        <option value="ACTUATOR">Actuator</option>
      </select>
      <label class="form-label">Type:</label>

      <input type="text" placeholder="Id" ng-model="devCtrl.getSelectedDevice().deviceId">
      <label class="form-label">Id:</label>

      <select ng-model="devCtrl.getSelectedDevice().hostedBy">
        <option ng-repeat="option in devCtrl.getPlatformsId()" value="{{option.platformId}}">{{option.name}}</option>
      </select>
      <label class="form-label">Hosted By:</label>

      <input type="text" placeholder="Location" ng-model="devCtrl.getSelectedDevice().location">
      <label class="form-label">Location:</label>

      <input type="text" placeholder="Name" ng-model="devCtrl.getSelectedDevice().name">
      <label class="form-label">Name:</label>

      <input type="text" placeholder="Hosts" ng-model="devCtrl.getSelectedDevice().hosts">
      <label class="form-label">Hosts:</label>

      <input type="text" placeholder="For Property" ng-model="devCtrl.getSelectedDevice().forProperty">
      <label class="form-label">For Property:</label>

      <input type="text" placeholder="Made Actuation" ng-model="devCtrl.getSelectedDevice().madeActuation">
      <label class="form-label">Made Actuation:</label>

      <input type="text" placeholder="Implements Procedure" ng-model="devCtrl.getSelectedDevice().implementsProcedure">
      <label class="form-label">Implements Procedure:</label>

      <input type="text" placeholder="Observes" ng-model="devCtrl.getSelectedDevice().observes">
      <label class="form-label">Observes:</label>

      <input type="text" placeholder="Detects" ng-model="devCtrl.getSelectedDevice().detects">
      <label class="form-label">Detects:</label>

      <input type="text" placeholder="Made Observation" ng-model="devCtrl.getSelectedDevice().madeObservation">
      <label class="form-label">Made Observation:</label>

      <button style="float: left" type="submit" class="create-button" ng-click="devCtrl.updateDevice()">
        <span>Update</span>
      </button>

      <button style="float: right; margin-top: -30px" type="submit" class="create-button" ng-click="devCtrl.deleteDevice()">
        <span>Delete</span>
      </button>


    </form>

  </div>

</div>
