<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Maintenance Info</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="maintenanceInfo.closeMaintenanceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

    <div class="info-left">
      Deployment Id:
    </div>
    <div class="info-right">
      Deployment Id
    </div>

    <div class="info-left">
      Device Id:
    </div>
    <div class="info-right">
      Device Id
    </div>

    <div class="info-left">
      Description:
    </div>
    <div class="info-right">
      Description
    </div>

    <div class="info-left">
      Status:
    </div>
    <div class="info-right">
      Status
    </div>

    <div class="info-left">
      Type:
    </div>
    <div class="info-right">
      Type
    </div>

    <div class="info-left">
      Date:
    </div>
    <div class="info-right">
      Date
    </div>

    <hr class="line">

    <div class="button-container-form">
      <button type="submit" class="info-button" ng-click="maintenanceInfo.goToDeleteDeployment()">
        <span>Delete</span>
      </button>

      <button type="submit" class="info-button" ng-click="maintenanceInfo.goToUpdateMaintenance()">
        <span>Update</span>
      </button>
    </div>

  </div>

</div>
