<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployments & Devices</h3>
    </div>

    <div class="option-header-right">
      <div class="square-header-button"
           ng-class="{ 'button-header-active' : ('main.maintenance_panel.add_maintenance' | routeSegmentEqualsTo) }"
           title="Create Deployment Installation"
           ng-click="maintenance.goToAddMaintenance()">
        <span class="glyphicon glyphicon-plus"></span>
      </div>
    </div>

  </div>

  <div ng-show="maintenance.deploymentData.retrievalStatus['deployments'] === maintenance.deploymentData.operationStatus.IN_PROGRESS &&
                maintenance.deploymentData.retrievalStatus['devices'] === maintenance.deploymentData.operationStatus.IN_PROGRESS">
    <div class="spinner-container">
      <div class="spinner">
      </div>
    </div>
  </div>

  <div ng-show="maintenance.deploymentData.retrievalStatus['deployments'] === maintenance.deploymentData.operationStatus.FAILURE &&
                maintenance.deploymentData.retrievalStatus['devices'] === maintenance.deploymentData.operationStatus.FAILURE">
    Cannot retrieve devices and deployments
  </div>

  <div ng-show="maintenance.deploymentData.retrievalStatus['deployments'] === maintenance.deploymentData.operationStatus.SUCCESS &&
                maintenance.deploymentData.retrievalStatus['devices'] === maintenance.deploymentData.operationStatus.SUCCESS"
       class="option-device-container">

    <div ng-repeat="deployment in maintenance.deploymentData.deployments"
         class="option-device"
         ng-class="{ 'option-device-active' : deployment.id === maintenance.deploymentData.currentDeployment.id && maintenance.deploymentClass,
                     'option-device-unactive' : maintenance.deviceClass }">

      <div class="option-name-container"
           ng-click="maintenance.selectDeployment(deployment)">
        <span class="option-name">{{deployment.id}}</span>
        <br class="jump-line">
        <span class="option-platform">{{deployment.date}}</span>
      </div>

      <div class="option-buttons-container">
        <div class="square-option-device-button"
             ng-class="{ 'option-device-button-active' : deployment.id === maintenance.deploymentData.currentDeployment.id && maintenance.deploymentClass }">
          <span class="glyphicon glyphicon-info-sign"></span>
        </div>
      </div>

    </div>

    <div ng-repeat="deploymentDevice in maintenance.deploymentData.deploymentDevices"
         class="option-device"
         ng-class="{ 'option-device-active' : deploymentDevice.id === maintenance.deploymentData.currentDeviceDeployment.id && maintenance.deviceClass,
                     'option-device-unactive' : maintenance.deploymentClass }">

      <div class="option-name-container" ng-click="maintenance.selectDeviceDeployment(deploymentDevice)">
        <span class="option-name">{{deploymentDevice.id}}</span>
        <br class="jump-line">
        <span class="option-platform">{{deploymentDevice.label}}</span>
      </div>

      <div class="option-buttons-container">
        <div class="square-option-device-button"
             ng-class="{ 'option-device-button-active' : deploymentDevice.id === maintenance.deploymentData.currentDeviceDeployment.id && maintenance.deviceClass }">
          <span class="glyphicon glyphicon-info-sign"></span>
        </div>
      </div>

    </div>

  </div>

</div>
