<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Deployment: {{maintenanceInfo.deploymentData.currentDeployment.id}}</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="maintenanceInfo.closeMaintenanceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div
    ng-show="maintenanceInfo.recordData.retrievalStatus[maintenanceInfo.recordData.selectedElementId] === maintenanceInfo.recordData.operationStatus.IN_PROGRESS">
    Loading...
  </div>

  <div
    ng-show="maintenanceInfo.recordData.retrievalStatus[maintenanceInfo.recordData.selectedElementId] === maintenanceInfo.recordData.operationStatus.FAILURE">
    Cannot retrieve records by id
  </div>

  <div
    ng-show="maintenanceInfo.recordData.retrievalStatus[maintenanceInfo.recordData.selectedElementId] === maintenanceInfo.recordData.operationStatus.SUCCESS"
    class="option-device-container info-inner">

    <div
      ng-repeat="record in maintenanceInfo.recordData.recordsByElementId[maintenanceInfo.recordData.selectedElementId]">
      <table class="maintenance-table">
        <thead>
          <tr>
            <td>Id</td>
            <td>ElementId</td>
            <td>Description</td>
            <td>Status</td>
            <td>Type</td>
            <td>Timestamp</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{record.id}}</td>
            <td>{{record.elementId}}</td>
            <td>{{record.description}}</td>
            <td>{{record.status}}</td>
            <td>{{record.type}}</td>
            <td>{{record.timestamp}}</td>
          </tr>
        </tbody>
      </table>

      <div class="button-container-form" ng-show="maintenanceInfo.deploymentData.deleteStatus === maintenanceInfo.deploymentData.operationStatus.NOT_STARTED">


        <button style="float: left" type="submit" class="create-button" ng-click="maintenanceInfo.updateRecord(record)">
          <span>Update</span>
        </button>

        <div ng-show="maintenanceInfo.recordData.deletesStatus[record.id] === maintenanceInfo.recordData.operationStatus.NOT_STARTED">
          <button type="submit" class="info-button"
                  ng-click="maintenanceInfo.deleteRecord(record.elementId, record.id)">
            <span>Delete</span>
          </button>
        </div>

        <div ng-show="maintenanceInfo.recordData.deletesStatus[record.id] === maintenanceInfo.recordData.operationStatus.IN_PROGRESS">
          <button type="submit" class="info-button">
            <span>Deleting...</span>
          </button>
        </div>

        <div ng-show="maintenanceInfo.recordData.deletesStatus[record.id] === maintenanceInfo.recordData.operationStatus.SUCCESS">
          <button type="submit" class="info-button">
            <span>Deleted</span>
          </button>
        </div>

        <div ng-show="maintenanceInfo.recordData.deletesStatus[record.id] === maintenanceInfo.recordData.operationStatus.FAILURE">
          <button type="submit" class="info-button">
            <span>¡ERROR!</span>
          </button>
        </div>

      </div>

      <hr class="line line-margin-top">

    </div>

  </div>

</div>
