<div class="resource-container">

  <div class="resource-header">
    <h3>Platform: {{platformInfo.platformData.currentPlatform.name}}</h3>

    <div class="close-info" title="Close window" ng-click="platformInfo.closeDeviceInfo()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="info-container">

    <form class="add-form" name="add-platform">

      <input type="text" disabled placeholder="Id" ng-model="platformInfo.platformData.currentPlatform.platformId">
      <label class="form-label">Id:</label>

      <input type="text" disabled placeholder="Name" ng-model="platformInfo.platformData.currentPlatform.name">
      <label class="form-label">Name:</label>

      <input type="text" disabled placeholder="Type" ng-model="platformInfo.platformData.currentPlatform.type">
      <label class="form-label">Type:</label>

      <input type="text" disabled placeholder="Endpoint"
             ng-model="platformInfo.platformData.currentPlatform.baseEndpoint">
      <label class="form-label">Endpoint:</label>

      <input type="text" disabled placeholder="Location" ng-model="platformInfo.platformData.currentPlatform.location">
      <label class="form-label">Location:</label>

      <input type="text" disabled placeholder="Username" ng-model="platformInfo.platformData.currentPlatform.username">
      <label class="form-label">Username:</label>

      <input type="text" disabled placeholder="Downstream Input Alignment Name"
             ng-model="platformInfo.platformData.currentPlatform.downstreamInputAlignmentName">
      <label class="form-label">Downstream Input Alignment Name:</label>

      <input type="text" disabled placeholder="Downstream Input Alignment Version"
             ng-model="platformInfo.platformData.currentPlatform.downstreamInputAlignmentVersion">
      <label class="form-label">Downstream Input Alignment Version:</label>

      <input type="text" disabled placeholder="Downstream Output Alignment Name"
             ng-model="platformInfo.platformData.currentPlatform.downstreamOutputAlignmentName">
      <label class="form-label">Downstream Output Alignment Name:</label>

      <input type="text" disabled placeholder="Downstream Output Alignment Version"
             ng-model="platformInfo.platformData.currentPlatform.downstreamOutputAlignmentVersion">
      <label class="form-label">Downstream Output Alignment Version:</label>

      <input type="text" disabled placeholder="Upstream Input Alignment Name"
             ng-model="platformInfo.platformData.currentPlatform.upstreamInputAlignmentName">
      <label class="form-label">Upstream Input Alignment Name:</label>

      <input type="text" disabled placeholder="Upstream Input Alignment Version"
             ng-model="platformInfo.platformData.currentPlatform.upstreamInputAlignmentVersion">
      <label class="form-label">Upstream Input Alignment Version:</label>

      <input type="text" disabled placeholder="Upstream Output Alignment Name"
             ng-model="platformInfo.platformData.currentPlatform.upstreamOutputAlignmentName">
      <label class="form-label">Upstream Output Alignment Name:</label>

      <input type="text" disabled placeholder="Upstream Output Alignment Version"
             ng-model="platformInfo.platformData.currentPlatform.upstreamOutputAlignmentVersion">
      <label class="form-label">Upstream Output Alignment Version:</label>

      <button style="float: left" type="submit" class="create-button" ng-click="platformInfo.goToUpdatePlatform()">
        <span>Update</span>
      </button>

      <div ng-show="platformInfo.platformData.deleteStatus === platformInfo.platformData.operationStatus.NOT_STARTED">
        <button style="float: right; margin-top: -30px" type="submit" class="create-button"
                ng-click="platformInfo.deletePlatform()">
          <span>Delete</span>
        </button>
      </div>

      <div ng-show="platformInfo.platformData.deleteStatus === platformInfo.platformData.operationStatus.IN_PROGRESS">
        <button style="float: right; margin-top: -30px" type="submit" class="create-button">
          <span>Deleting...</span>
        </button>
      </div>

      <div ng-show="platformInfo.platformData.deleteStatus === platformInfo.platformData.operationStatus.SUCCESS">
        <button style="float: right; margin-top: -30px" type="submit" class="create-button">
          <span>Deleted</span>
        </button>
      </div>

      <div ng-show="platformInfo.platformData.deleteStatus === platformInfo.platformData.operationStatus.FAILURE">
        <button style="float: right; margin-top: -30px" type="submit" class="create-button">
          <span>¡ERROR!</span>
        </button>
      </div>

    </form>

  </div>

</div>
