<div class="option-container-margen0">

  <div class="option-header">
    <div class="option-header-left">
      <h3>Update Deployment:  {{updateCtrl.currentDeployment.id}}</h3>
    </div>
    <div class="close-info" title="Close window" ng-click="updateCtrl.closeCreateDeployment()">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>

  <div class="option-device-container info-inner">

    <form class="add-form" name="add-device">

      <input type="text" disabled placeholder="Id" ng-model="updateCtrl.currentDeployment.id">
      <label class="form-label">Id:</label>


      <input type="text" disabled placeholder="Id" ng-model="updateCtrl.currentDeployment.date">
      <label class="form-label">Date:</label>

<!--      <div class="info-left">
        Date:
      </div>
      <div class="info-right">
        {{updateCtrl.currentDeployment.date | date: 'yyyy-MM-dd'}}
      </div>-->

      <input type="text" disabled placeholder="Location" ng-model="updateCtrl.currentDeployment.location">
      <label class="form-label">Location:</label>

      <hr class="line">

      <input type="text" disabled placeholder="Organization Id" ng-model="updateCtrl.currentDeployment.organizationId">
      <label class="form-label">Organization Id:</label>

      <input type="text" disabled placeholder="Organization Label" ng-model="updateCtrl.currentDeployment.organizationLabel">
      <label class="form-label">Organization Label:</label>

      <hr class="line">

      <input type="text" disabled placeholder="Platform Id" ng-model="updateCtrl.currentDeployment.platformId">
      <label class="form-label">Platform Id:</label>

      <input type="text" disabled placeholder="Platform Label" ng-model="updateCtrl.currentDeployment.platformLabel">
      <label class="form-label">Platform Label:</label>

      <label class="form-label">Devices:</label>

      <div ng-repeat="device in updateCtrl.currentDeployment.devices">
        <div class="info-left" ng-show="updateCtrl.deploymentData.removeDeviceStatus[device] === updateCtrl.deploymentData.operationStatus.NOT_STARTED">
          <button type="submit"
                  ng-click="updateCtrl.deleteDevice(device)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <div class="info-left" ng-show="updateCtrl.deploymentData.removeDeviceStatus[device] === updateCtrl.deploymentData.operationStatus.IN_PROGRESS">
          <button type="submit">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
        <div class="info-left" ng-show="updateCtrl.deploymentData.removeDeviceStatus[device] === updateCtrl.deploymentData.operationStatus.SUCCESS">
          <button type="submit">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
        <div class="info-left" ng-show="updateCtrl.deploymentData.removeDeviceStatus[device] === updateCtrl.deploymentData.operationStatus.FAILURE">
          <button type="submit">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <div class="info-right">
          <input type="text" disabled placeholder="Devices" ng-model=device>
        </div>
      </div>

      <hr class="line">

      <input type="text" placeholder="Platform Label" ng-model="updateCtrl.newDeviceId">
      <label class="form-label">New Device Id:</label>

      <button ng-show="updateCtrl.deploymentData.addDeviceStatus === updateCtrl.deploymentData.operationStatus.NOT_STARTED" type="submit" class="info-button" ng-click="updateCtrl.addDevice()">
        <span>Add Device</span>
      </button>

      <button ng-show="updateCtrl.deploymentData.addDeviceStatus === updateCtrl.deploymentData.operationStatus.IN_PROGRESS" type="submit" class="info-button">
        <span>Adding Device...</span>
      </button>

      <button ng-show="updateCtrl.deploymentData.addDeviceStatus === updateCtrl.deploymentData.operationStatus.FAILURE" type="submit" class="info-button">
        <span>¡ERROR!</span>
      </button>

      <button ng-show="updateCtrl.deploymentData.addDeviceStatus === updateCtrl.deploymentData.operationStatus.SUCCESS" type="submit" class="info-button">
        <span>Added Device</span>
      </button>

    </form>

  </div>

</div>
