body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  width: 100vw;
  height: 50px;
  background: #f5f5f5;
}

.logo-container {
  width: calc(100% - 290px);
  float: left;
  height: 40px;
  margin: 5px 0 5px 20px;
  display: inline-flex;
}

.button-container {
  width: calc(25% - 35px);
  float: right;
  margin: 5px 15px 5px 0;
  user-select: none;
  text-align: right;
}

.button-header{
  height: 40px;
  display: inline-flex;
  line-height: 40px;
  background: #2bbee8;
  margin: 0 5px;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.button-header:hover {
  background: #0f2144;
}

.button-header-active {
  background: #0f2144 !important;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .logo-container {
    width: 20%;
    margin: 10px -10px 10px 10px;
  }

  .button-container {
    width: calc(80% - 35px);
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .logo-container {
    width: 20%;
    margin: 10px -10px 10px 10px;
  }

  .button-container {
    width: calc(80% - 35px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .logo-container {
    width: 50%;
  }

  .button-container {
    width: calc(50% - 35px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  .logo-container {
    width: 50%;
  }

  .button-container {
    width: calc(50% - 35px);
  }
}

.logo-container img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .logo-container img {
    height: 30px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .logo-container img {
    height: 30px;
  }
}

.header-title {
  height: 30px;
  width: 400px;
  margin: 5px auto;
  padding: 0 10px;
  border-left: 1px solid #2bbee8;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .header-title {
    display: none;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .header-title {
    display: none;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .header-title {
    margin: 5px 0;
  }
}

@media screen and (min-width: 1025px) {
  .header-title {
    margin: 5px 0;
  }
}

.header-title h2 {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-weight: 300;
  color: #2bbee8;
  font-size: 18px;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .header-title h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .header-title h2 {
    font-size: 16px;
  }
}

.burger-container {
  width: 50px;
  height: 50px;
  float: right;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #2bbee8;
}

.burger-container-active {
  color: #0f2144;
}

.user-container {
  display: none;
}

@media screen and (min-width: 1025px) {
  .burger-container {
    display: none;
  }

  .user-container {
    width: 250px;
    height: 40px;
    float: right;
    margin: 5px 20px 5px 0;
    display: inline-flex;
  }

  .user-data {
    width: calc(100% - 50px);
    height: 40px;
    margin-right: 10px;
  }

  .user-data span {
    line-height: 40px;
    color: #2bbee8;
    font-size: 16px;
  }

  .user-icon-container {
    width: 40px;
    height: 40px;
    border: 1px solid #2bbee8;
    border-radius: 50%;
    text-align: center;
    float: left;
  }

  .user-text {
    width: calc(100% - 50px);
    height: 40px;
    margin-left: 10px;
    float: right;
  }

  .user-text p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    color: #2bbee8;
  }

  .exit-button-container {
    width: 40px;
    height: 40px;
    background: #2bbee8;
    text-align: center;
    float: right;
    cursor: pointer;
    transition: 0.3s ease all;
  }

  .exit-button-container span {
    line-height: 38px;
    color: #fff;
  }

  .exit-button-container:hover {
    background: #0f2144;
  }

}

.user-icon-mobile-container {
  width: 30px;
  height: 30px;
  border: 1px solid #2bbee8;
  border-radius: 50%;
  text-align: center;
}

.user-icon-mobile-container span {
  line-height: 26px;
  color: #2bbee8;
}

.exit-mobile-button-container {
  width: 30px;
  height: 30px;
  background: #2bbee8;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease all;
}

.exit-mobile-button-container span {
  line-height: 28px;
  color: #fff;
  font-size: 12px;
}

.exit-mobile-button-container:hover {
  background: #0f2144;
}

/*-----MENU LATERAL-----*/

.lateral-nav {
  width: 50px;
  height: calc(100vh - 50px);
  float: left;
  margin-right: -10px;
  overflow: hidden;
  transition: 0.5s ease all;
}

@media screen and (max-width: 1024px) {
  .lateral-nav {
    display: none;
  }
}

.lateral-nav:hover {
  width: 240px;
}

.main-container {
  width: calc(100vw - 60px);
  height: calc(100vh - 50px);
  /*background: blue;*/
  float: right;
  transition: 0.5s ease all;
  display: inline-flex;
  justify-content: start;
  background: url("../images/bg.svg") center no-repeat;
  background-size: 100vw;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .main-container {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    margin: 10px;
    float: none;
    display: block;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .main-container {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    margin: 10px;
    float: none;
    display: block;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .main-container {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    margin: 10px;
    float: none;
    display: block;
  }
}

.lateral-nav:hover~.main-container {
  width: calc(100vw - 250px);
}

.button-menu {
  width: 50px;
  height: 50px;
  margin: 0 0 0 0;
  padding: 0 5px;
  border-bottom: 1px solid #ccc;
  transition: 0.5s ease all;
  cursor: pointer;
}

.button-menu-active {
  background: #f5f5f5;
  border-left: 3px solid #2bbee8;
  padding: 0 5px 0 2px;
}

.lateral-nav:hover .button-menu {
  width: 250px;
}

.icon-container {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  float: left;
}

.button-text {
  width: 0;
  height: 50px;
  line-height: 50px;
  position: absolute;
  margin-left: 40px;
  opacity: 0;
  overflow: hidden;
  color: #2bbee8;
  float: right;
  transition: 0.5s ease all;
  /*transition-delay: 0.5s;*/
}

.lateral-nav:hover .button-text {
  width: 200px;
  opacity: 1;
}

.button-text:hover {
  color: #0f2144;
}

/*-----FIN DEL MENU LATERAL-----*/

/*-----MENU DISPOSITIVO MOVIL-----*/
.mobile-nav {
  width: 100%;
  height: auto;
  /*float: left;*/
  overflow: hidden;
  position: absolute;
  transition: 0.5s ease all;
  z-index: 9999;
}

@media screen and (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-button-menu {
  width: 100%;
  height: 50px;
  margin: 0 0 0 0;
  background: #f5f5f5;
  padding: 0 5px;
  border-bottom: 1px solid #ccc;
  transition: 0.5s ease all;
  cursor: pointer;
}

.mobile-button-menu-active {
  background: #f5f5f5;
  border-left: 3px solid #2bbee8;
  padding: 0 5px 0 2px;
}

.mobile-icon-container {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  float: left;
}

.mobile-button-text {
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  position: absolute;
  margin-left: 40px;
  overflow: hidden;
  color: #2bbee8;
  float: right;
  transition: 0.5s ease all;
  /*transition-delay: 0.5s;*/
}

.mobile-button-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 50px;
  color: #2bbee8;
}

/*-----FIN MENU DISPOSITIVO MOVIL-----*/

.left-div {
  width: 20%;
  height: calc(100vh - 50px);
  margin: 0 0 0 10px;
  /*float: left;*/
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .left-div {
    width: 100%;
    height: 100px;
    margin: auto;
    z-index: 10;
    /*position: absolute;*/
    /*float: none;*/
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .left-div {
    width: 100%;
    height: 40px;
    margin: 0;
    /*display: inline-flex;*/
    /*justify-content: space-between;*/
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .left-div {
    width: 100%;
    height: 40px;
    margin: 0;
  }
}

.left-div-50 {
  width: calc(50% - 20px);
  height: calc(100vh - 90px);
  margin: 20px 10px 20px 10px;
  /*float: left;*/
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .left-div-50 {
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .left-div-50 {
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .left-div-50 {
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
  }
}

.right-div-50 {
  width: calc(50% - 30px);
  height: calc(100vh - 90px);
  /*background: blue;*/
  margin: 20px 20px 20px 10px;
  /*float: left;*/
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .right-div-50 {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    position: absolute;
    margin: 0;
    top: 60px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .right-div-50 {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    position: absolute;
    margin: 0;
    top: 60px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .right-div-50 {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    position: absolute;
    margin: 0;
    top: 60px;
  }
}

.center-div {
  width: calc(40% - 10px);
  height: calc(100vh - 50px);
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .center-div {
    width: 100%;
    height: calc(100vh - 160px);
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .center-div {
    width: calc(100vw - 20px);
    height: calc(100vh - 110px);
    left: 30%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .center-div {
    width: calc(100vw - 20px);
    height: calc(100vh - 110px);
    left: 30%;
  }
}

.right-div {
  width: 40%;
  height: calc(100vh - 50px);
  /*left: 60%;*/

}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .right-div {
    width: 100%;
    height: calc(100vh - 130px);
    top: 160px;
    left: 0;
    position: absolute;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .right-div {
    width: 100%;
    height: calc(100vh - 80px);
    top: 110px;
    left: 0;
    position: absolute;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .right-div {
    width: 100%;
    height: calc(100vh - 80px);
    top: 110px;
    left: 0;
    position: absolute;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .right-div {
    /*width: 70%;*/
    /*left: 30%;*/
  }
}

.menu-container {
  width: 100%;
  height: calc(100% - 40px);
  margin: 20px 0 0 0;
}

@media screen and (max-width: 720px) and (orientation: portrait){
  .menu-container {
    margin: 10px auto;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape){
  .menu-container {
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .menu-container {
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
  }
}

.menu-bar {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

@media screen and (max-width: 720px) and (orientation: landscape){
  .menu-bar {
    width: calc(50% - 5px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .menu-bar {
    width: calc(50% - 5px);
  }
}

.menu-bar span {
  line-height: 40px;
  padding: 0 10px;
}

.menu-square {
  width: 40px;
  height: 40px;
  background: #2bbee8;
  float: right;
  text-align: center;
}

.menu-square span {
  line-height: 40px;
  color: #fff;
}

.menu-square-active span {
  line-height: 40px;
  color: #fff;
  animation: 0.3s ease forwards;
  animation-name: arrow-flip;
}

.menu-option-container {
  width: 100%;
  height: 0;
  background: #ccc;
  display: none;
  overflow-y: auto;
}

.menu-option-container a {
  text-decoration: none;
  color: #0f2144;
}

.menu-option-container-active {
  width: 100%;
  height: 0;
  background: #ccc;
  overflow-y: auto;
  display: block;
  animation: 0.3s ease forwards;
  animation-name: open-menu;
}

@keyframes open-menu {
  from {
    height: 0;
    max-height: 0;
  }
  to {
    height: auto;
    max-height: calc(100% - 40px);
  }
}

.menu-option {
  width: 100%;
  height: 40px;
  background: rgba(43, 190, 232, 0.5);;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease all;
}

.menu-option:hover {
  background: #2bbee8;
}

.menu-option:hover span {
  color: #fff;
}

.menu-option span {
  line-height: 40px;
  margin-left: 0;
  user-select: none;
}

.menu-option-active {
  background: #0f2144;
}

.menu-option-active span {
  color: #fff;
}

.option-container {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  margin: 20px 10px 0 20px;
  background: #f5f5f5;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-container {
    width: 100%;
    height: calc(100% - 40px);
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .option-container {
    width: 100%;
    height: calc(100% - 40px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .option-container {
    width: 100%;
    height: calc(100% - 40px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  .option-container {
    width: 100%;
    height: calc(100% - 40px);
    margin: 10px 0 0 0;
  }
}

.option-container2 {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  margin: 20px 10px 20px 20px;
  background: #ededed;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-container2 {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .option-container2 {
    width: calc(100% - 40px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .option-container2 {
    width: calc(100% - 40px);
  }
}

.option-container-margen0 {
  width: 100%;
  height: 100%;
  /*margin: 20px 10px 20px 20px;*/
  background: #f5f5f5;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-container-margin0 {
    width: 100%;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .option-container-margin0 {
    width: 100%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .option-container-margin0 {
    width: 100%;
  }
}

.option-header {
  width: 100%;
  height: 40px;
  background: #2bbee8;
}

.option-header h3 {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
}

.option-header-left {
  height: 40px;
  width: calc(100% - 120px);
  float: left;
}

.option-header-right {
  height: 40px;
  width: 120px;
  float: right;
  display: inline-flex;
  justify-content: flex-end;
}

.square-header-button {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-left: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease all;
}

.square-header-button:hover {
  background: #0f2144;
}

.option-header-button {
  width: auto;
  height: 30px;
  margin: 5px;
  float: right;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.option-header-button span {
  padding: 0 10px;
  line-height: 30px;
}

.option-device-container {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  margin: auto;
  position: relative;
  border-bottom: 1px solid #2bbee8;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-device-container {
    width: 100%;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .option-device-container {
    width: 100%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .option-device-container {
    width: 100%;
  }
}

.option-device-container span {
  float: left;
  margin-left: 0;
  line-height: 20px;
  user-select: none;
  font-size: 14px;
}

.option-device-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -17px;
  overflow-y: scroll;
}

.option-name {
  margin-top: 5px;
}

.jump-line {
  line-height: 25px;
}

.maintenance-table {
  width: calc(100% - 20px);
  margin: 0 10px 10px 10px;
}

.maintenance-table thead {
  line-height: 40px;
  background: #2bbee8;
  color: #fff;
  text-align: center;
}

.maintenance-table tbody tr {
  line-height: 40px;
  border-bottom: 1px solid #2bbee8;
  text-align: center;
}

.maintenance-table td {
  padding: 0 10px;
}

.option-platform {
  color: #00b3ee;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  left: 0;
  text-align: left;
}

.option-device {
  width: 100%;
  height: 50px;
  padding: 0 5px 0 10px !important;
  border-bottom: 1px solid #b3b3b3;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease all;
}

.current-title {
  width: 100%;
  height: 50px;
  padding: 0 5px 0 10px !important;
  border-bottom: 1px solid #b3b3b3;
  background: transparent;
  color: #2bbee8;
  transition: 0.3s ease all;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-device {
    width: 100%;
    font-size: 12px;
  }

  .current-title {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .option-device {
    width: 100%;
    font-size: 12px;
  }

  .current-title {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .option-device {
    width: 100%;
  }

  .current-title {
    width: 100%;
  }
}

.option-device:hover {
  background: #ddd;
}

.option-device-active {
  height: 50px;
  width: 100%;
  padding: 0 10px;
  background: #ddd;
  border-bottom: 1px solid #b3b3b3;
}

.option-device-unactive {
  background: transparent;
}

/*.option-device-active:after {*/
  /*content: '';*/
  /*width: 40px;*/
  /*height: 50px;*/
  /*position: relative;*/
  /*z-index: 0;*/
  /*right: -29%;*/
  /*float: right;*/
  /*border-style: solid;*/
  /*border-width: 20px;*/
  /*border-color: transparent #ededed transparent transparent;*/
/*}*/

/*@media screen and (max-width: 720px) {*/
  /*.option-device-active:after {*/
    /*display: none;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 721px) and (max-width: 1024px) {*/
  /*.option-device-active:after {*/
    /*display: none;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 1025px) and (max-width: 1366px) {*/
  /*.option-device-active:after {*/
    /*display: none;*/
  /*}*/
/*}*/

.option-name-container {
  float: left;
  height: 50px;
  text-align: left;
  width: calc(100% - 40px)
}

/*
@media screen and (max-width: 720px) {
  .option-name-container {
    width: 65%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .option-name-container {
    width: 70%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  .option-name-container {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .option-name-container {
    width: 70% !important;
  }
}

@media screen and (min-width: 1367px){
  .option-name-container {
    width: calc(100% - 40px)
  }
}
*/

.option-platform-container {
  width: 30%;
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 720px) {
  .option-platform-container {
    width: 20%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .option-platform-container {
    width: 30%;
  }
}

.option-buttons-container {
  width: auto;
  margin-top: 5px;
  float: right;
}

.tags-container {
  width: 100%;
  height: auto;
  min-height: 70px;
  border-bottom: 1px solid #b3b3b3;
  margin: 10px auto;
  padding: 0 10px;
}

.tags-container h4 {
  color: #0f2144;
}

.tags-container span {
  font-weight: 300;
  margin: 0 10px 0 0;
}

.tag-icon {
  color: #0f2144 !important;
}

.label-bg {
  background: #0f2144 !important;
}

.description-container {
  width: 100%;
  height: auto;
  min-height: 70px;
  margin: 10px auto;
  padding: 0 10px;
}

.description-container h4 {
  color: #0f2144;
}

.description-container span {
  font-weight: 300;
  margin: 0 10px 0 0;
}

.description-icon {
  color: #0f2144 !important;
}

.description-update-container {
  width: 100%;
  height: calc(100vh - 370px);
  background: #fff;
  border: 1px solid #b3b3b3;
  padding: 10px;
  overflow-y: auto;
}

/*
@media screen and (max-width: 720px) {
  .option-buttons-container {
    width: 34%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .option-buttons-container {
    width: 28%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .option-buttons-container {
    width: 28%;
  }
}
*/

.option-subscription-container {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #2bbee8;
  margin: auto -5px auto 5px;
  float: left;
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .option-subscription-container {
    margin: auto -10px;
  }
}

.option-subscription-container span {
  line-height: 40px;
  font-size: 16px;
  margin: auto;
  float: none !important;
}

.option-device-button {
  width: auto;
  height: 30px;
  margin: 5px 0;
  float: right;
  text-align: center;
  padding: 0 20px;
  background: rgba(43, 190, 232, 0.5);
  cursor: pointer;
  transition: 0.3s ease all;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .option-device-button {
    padding: 0 10px;
  }
}

.option-device:hover .option-device-button {
  background: #0f2144;
}

.option-device-button span {
  line-height: 30px;
  color: #0f2144;
  margin: 0;
  transition: 0.3s ease all;
}

.option-device:hover .option-device-button span {
  color: #fff;
}

.option-device-button-active {
  background: #2bbee8;
}

.option-device-button-active span {
  color: #fff !important;
}

.square-option-device-button {
  width: 40px;
  height: 40px;
  margin: 0;
  float: right;
  text-align: center;
  line-height: 40px;
  /*padding: 0 20px;*/
  /*background: rgba(43, 190, 232, 0.5);*/
  cursor: pointer;
  transition: 0.3s ease all;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .square-option-device-button {
    padding: 0 10px;
  }
}

.option-device:hover .square-option-device-button {
  background: #2bbee8;
}

.square-option-device-button:hover {
  background: #2bbee8;
}

.square-option-device-button span {
  line-height: 40px !important;
  float: none !important;
  color: #2bbee8;
  margin: 0;
  transition: 0.3s ease all;
}

.option-device:hover .square-option-device-button span {
  color: #fff;
}

.square-option-device-button-active {
  background: #2bbee8;
}

.square-option-device-button-active span {
  color: #fff;
}

.resource-container {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  margin: 20px 20px 0 10px;
  background: #ededed;
  border-bottom: 1px solid #2bbee8;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .resource-container {
    width: calc(100% - 40px);
    margin: 20px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .resource-container {
    width: calc(100% - 40px);
    margin: 20px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .resource-container {
    width: calc(100% - 40px);
    margin: 20px;
  }
}

.resource-container2 {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  margin: 20px 20px 20px 10px;
  background: #f5f5f5;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .resource-container2 {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .resource-container2 {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .resource-container2 {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

.info-container {
  width: 100%;
  height: 88%;
  margin-bottom: -20px;
  overflow-y: auto;
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .info-container {
    height: calc(100% - 50px);
  }
}

.info-container2 {
  width: 100%;
  height: 100%;
  margin-bottom: -20px;
  overflow-y: auto;
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .info-container2 {
    height: calc(100% - 50px);
  }
}

.resource-header {
  width: 100%;
  height: 40px;
  background: #2bbee8;
}

.resource-header h3 {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
}

.resource-header2 {
  width: 100%;
  height: 40px;
  background: #2bbee8;
}

.resource-header2 h3 {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
}

.close-info {
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.close-info:hover {
  color: #0f2144;
}

.close-info span {
  line-height: 40px;
}

.sensor-window {
  width: calc(100% - 20px);
  height: calc(50% - 60px);
  margin: 10px auto 10px auto;
  border: 1px solid #999;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .sensor-window {
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .sensor-window {
    height: 100%;
    font-size: 12px;
  }
}

.measurements-window {
  width: calc(100% - 20px);
  height: calc(50% - 60px);
  margin: 10px auto 10px auto;
  /*background: green;*/
  border: 1px solid #999;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .measurements-window {
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .measurements-window {
    height: 100%;
    font-size: 12px;
  }
}

.subscription-message {
  float: left;
  line-height: 30px;
  margin: 5px 10px;
  color: #2bbee8;
}

.subscription-button {
  width: auto;
  height: 30px;
  margin: 5px 10px;
  float: right;
  text-align: center;
  padding: 0 20px;
  background: rgba(43, 190, 232, 0.5);
  cursor: pointer;
  transition: 0.3s ease all;
}

.subscription-button span {
  line-height: 30px;
  color: #0f2144;
  margin: 0;
}

.subscription-button:hover, .subscription-button-active {
  background: #0f2144;
}

.subscription-button:hover span, .subscription-button-active span {
  color: #fff;
}

.sensor-info-container {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.sensor-last-update {
  float:right;
}

.measurements-info-container {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.sensor-drop-button {
  width: calc(100% - 20px);
  height: 40px;
  margin: 10px 10px 0 10px;
  background: #ccc;
  cursor: pointer;
  user-select: none;
}

.sensor-drop-button span {
  line-height: 40px;
  margin-left: 10px;
  color: #0f2144;
  font-weight: 700;
}

.drop-square {
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
}

.drop-square span {
  line-height: 40px;
  color: #0f2144;
}

.drop-square-active span {
  line-height: 40px;
  animation: 0.3s ease forwards;
  animation-name: arrow-flip;
}

@keyframes arrow-flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.sensor-drop-info-container {
  width: calc(100% - 20px);
  min-height: 0;
  height: 0;
  margin: 0 10px 0 10px;
  background: #fff;
  overflow: hidden;
  user-select: none;
}

.sensor-drop-info-container span {
  margin: auto 10px;
}

.sensor-drop-info-container-active {
  animation: 0.3s ease forwards;
  animation-name: drop-info-appear;
}

@keyframes drop-info-appear {
  from {
    padding: 0;
    min-height: 0;
    height: 0;
  }
  to {
    min-height: 40px;
    height: auto;
    padding: 10px 0;
  }
}

.sensor-drop-left {
  float: left;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .sensor-drop-left {
    float: left;
  }
}

.sensor-drop-right {
  float: right;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .sensor-drop-right {
    float: left;
  }
}

.sensor-drop-inner-title {
  color: #2bbee8;
}

pre {
  border: none;
  background: none;
}

.add-form {
  width: 100%;
  /*padding: 10px;*/
}

.add-form label {
  width: calc(35% - 10px);
  float: left;
  line-height: 30px;
  margin: 0 0 10px 10px;
  font-weight: normal;
  clear: left;
}

.add-form input {
  width: calc(65% - 10px);
  float: right;
  height: 30px;
  padding-left: 5px;
  margin: 0 10px 10px 0;
  transition: 0.3s ease all;
}

.add-form select {
  width: calc(65% - 10px);
  float: right;
  height: 30px;
  padding-left: 5px;
  margin: 0 10px 10px 0;
}

.add-form textarea {
  width: calc(65% - 10px);
  float: right;
  height: 200px;
  resize: none;
  margin: 0 10px 5px 0;
}

.add-form input:focus {
  outline: none;
  border: 1px solid #2bbee8;
  padding-left: 6px;
}

.add-form select:focus {
  outline: none;
  border: 1px solid #2bbee8;
}

.add-form textarea:focus {
  outline: none;
  border: 1px solid #2bbee8;
}

.add-form input:focus + .form-label {
  color: #2bbee8;
}

.add-form select:focus + .form-label {
  color: #2bbee8;
}

.add-form textarea:focus + .form-label {
  color: #2bbee8;
}

@media screen and (max-width: 720px) {
  .add-form label {
    display: none
  }

  .add-form input {
    width: calc(100% - 20px);
  }

  .add-form select {
    width: calc(100% - 20px);
  }

  .add-form textarea {
    width: calc(100% - 20px);
    margin: 0 10px 10px 0;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
  .add-form label {
    display: none
  }

  .add-form input {
    width: calc(100% - 20px);
  }

  .add-form select {
    width: calc(100% - 20px);
  }

  .add-form textarea {
    width: calc(100% - 20px);
    margin: 0 10px 10px 0;
  }
}

@media screen and (min-width: 1025px){
  .add-form input::-webkit-input-placeholder {
    color: transparent;
  }

  .add-form input::-moz-placeholder {
    color: transparent;
  }

  .add-form input:-moz-placeholder {
    color: transparent;
  }

  .add-form input:-ms-input-placeholder {
    color: transparent;
  }
}

.create-button {
  width: auto;
  height: 30px;
  margin: 0;
  float: right;
  text-align: center;
  padding: 0 20px;
  background: rgba(43,190,232,0.5);
  cursor: pointer;
  clear: both;
  border: none;
  display: inline-flex;
  justify-content: flex-end;
  user-select: none;
  transition: 0.3s ease all;
}

.create-button span {
  line-height: 30px;
  color: #0f2144;
  margin: 0;
}

.create-button:hover {
  background: #0f2144;
}

.create-button:hover span {
  color: #fff;
}

.create-button:focus {
  outline: none;
}

.info-button {
  width: auto;
  height: 30px;
  margin: 0 10px 0 10px !important;
  float: right;
  text-align: center;
  padding: 0 20px;
  background: rgba(43,190,232,0.5);
  cursor: pointer;
  clear: both;
  border: none;
  display: inline-flex;
  justify-content: flex-end;
  user-select: none;
  transition: 0.3s ease all;
}

@media screen and (max-width: 720px){
  .info-button {
    margin: 0 10px 10px 10px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px){
  .info-button {
    margin: 0 10px 10px 10px;
  }
}

.info-button span {
  line-height: 30px;
  color: #0f2144;
  margin: 0;
}

.edit-description-icon {
  margin: -2px 5px 0 0 !important;
}

.info-button:hover {
  background: #0f2144;
}

.info-button:hover span {
  color: #fff;
}

.info-button:focus {
  outline: none;
}

/*---CUSTOM SCROLL BAR---*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b709a;
  transition: 0.3s ease all;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f2144;
}

/*---END CUSTOM SCROLL BAR---*/

.line {
  clear: both;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 12px;
}

.line-margin-top {
  margin-top: 50px;
}

.info-left {
  width: 35%;
  float: left;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  clear: left;
  padding: 0 10px;
}

.info-right {
  width: 65%;
  float: right;
  line-height: 30px;
  height: 30px;
  color: #2bbee8;
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: right;
  transition: 0.3s ease all;
}

.deployment-device-header {
  width: calc(100% - 20px);
  height: 40px;
  margin: 0 10px;
  clear: both;
  background: #2bbee8;
  color: #fff;
  line-height: 40px;
  padding: 0 10px;
}

.deployment-device-container {
  width: calc(100% - 20px);
  height: 40px;
  margin: 0 10px;
  clear: both;
  border-bottom: 1px solid #ccc;
}

.deployment-device-container span {
  line-height: 40px;
  color: #2bbee8;
}

.deployment-device-container .info-left {
  margin: 0 !important;
}

.right-button-container {
  width: 40px;
  height: 40px;
  float: right;
  background: transparent;
  text-align: center !important;
  cursor: pointer;
  transition: 0.3s ease all;
}

.right-button-container:hover {
  background: #2bbee8;
}

.right-button-container span {
  float: none;
  text-align: center;
  margin: auto !important;
  line-height: 38px;
  color: #2bbee8;
  transition: 0.3s ease all;
}

.right-button-container:hover span {
  color: #fff;
}

.button-container-form {
  width: 100%;
  /*padding: 0 10px;*/
  float: right;
}

.button-container-left {
  width: auto;
  float: left;
  margin-left: 10px;
}

.button-container-left div {
  float: left;
  position: relative;
}

.info-inner {
  padding-top: 10px;
}

.center-container {
  max-width: 1200px;
  max-height: calc(80% - 50px);
  width: 100%;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .center-container{
    max-height: calc(100vh - 50px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: portrait) {
  .center-container{
    max-height: calc(100vh - 50px);
  }
}

@media screen and (min-width: 721px) and (max-width: 1024px) and (orientation: landscape) {
  .center-container{
    max-height: calc(100vh - 50px);
  }
}

.about-menu {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: flex-start;
}

.about-button {
  height: 50px;
  width: auto;
  padding: 0 20px;
  margin-right: 2px;
  line-height: 50px;
  background: rgba(43,190,232,0.5);
  border-radius: 3px 3px 0 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease all;
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .about-button {
    padding: 5px 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .about-button {
    line-height: 50px;
  }
}

.about-button:hover {
  background: #0f2144;
}

.about-button-active {
  background: #2bbee8;
}

.about-container {
  height: calc(100% - 50px);
  width: 100%;
}

.about-info-container {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

.about-info-header {
  height: 40px;
  width: 100%;
  background: #2bbee8;
}

.about-info-header h3 {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0;
  float: left;
}

.about-info-inner {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #2bbee8;
}

.spinner-container {
  width: 50px;
  height: 50px;
  margin: calc(50% - 75px) calc(50% - 25px);
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent #2bbee8 transparent #2bbee8;
  border-width: 2px;
  border-style: solid;
  animation: 0.5s all linear infinite;
  animation-name: spinner;
}

.spinner-small-container {
  width: 30px;
  height: 30px;
  left: 10px;
  position: absolute;
  float: left;
}

.spinner-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent #2bbee8 transparent #2bbee8;
  border-width: 2px;
  border-style: solid;
  animation: 0.5s all linear infinite;
  animation-name: spinner;
}

.spinner-very-small-container {
  width: 20px;
  height: 20px;
  margin-top: -30px;
  margin-left: calc(20% - 80px);
  position: absolute;
  float: left;
}

.spinner-very-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent #2bbee8 transparent #2bbee8;
  border-width: 2px;
  border-style: solid;
  animation: 0.5s all linear infinite;
  animation-name: spinner;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-button-container {
  float: right;
}

.info-button-container button {
  float: none;
}

.message-container {
  height: 30px;
  width: auto;
  padding: 0 10px;
  left: 10px;
  position: absolute;
  float: left;
}

.message-container-100 {
  height: 30px;
  width: 100%;
  padding: 0 10px;
}

.error {
  background: #dc3545;
}

.success {
  background: #28a745;
}

.message-container span {
  color: #fff;
  line-height: 30px;
}

.message-container-100 span {
  color: #fff;
  line-height: 30px;
}

.description-textarea {
  width: calc(100% - 20px);
  height: calc(100vh - 192px);
  margin: auto 10px 5px 10px;
  padding: 10px;
  resize: none;
}
