<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Activage Project - Interoperability Demo Application</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
  <!-- endbuild -->
</head>
<body ng-app="activageDashboardApp">

<!-- Add your site or application content here -->
<header>
  <div class="logo-container">
    <img src="images/activage-logo.png" title="activage project" alt="activage project">
    <div class="header-title">
      <h2>Interoperability Demo Application</h2>
    </div>
  </div>

  <div class="button-container" ng-controller="mainCtrl as main">
    <div class="button-header"
         ng-class="{ 'button-header-active' : ('main.device_manager.add_platform' | routeSegmentStartsWith) }"
         ng-click="main.goToAddPlatform()">
      <span>+ Add Platform</span>
    </div>
    <div class="button-header"
         ng-class="{ 'button-header-active' : ('main.device_manager.add_device' | routeSegmentStartsWith) }"
         ng-click="main.goToAddDevice()">
      <span>+ Add Device</span>
    </div>
  </div>
</header>

<div class="left-div" app-view-segment="0"></div>
<div class="center-div" app-view-segment="1"></div>
<div ng-show="('main.device_manager.add_platform' | routeSegmentStartsWith) ||
              ('main.device_manager.add_device' | routeSegmentStartsWith) ||
              ('main.device_manager.platform-info' | routeSegmentStartsWith) ||
              ('main.device_manager.device-info' | routeSegmentStartsWith)"
     class="right-div"
     app-view-segment="2"></div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route-segment/build/angular-route-segment.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/device_controller.js"></script>
<script src="scripts/controllers/main_controller.js"></script>
<script src="scripts/controllers/add_platform_controller.js"></script>
<script src="scripts/controllers/add_device_controller.js"></script>

<script src="scripts/services/platform_service.js"></script>
<script src="scripts/services/device_service.js"></script>

<script src="scripts/services/platform_service_api.js"></script>
<script src="scripts/services/device_service_api.js"></script>

<script src="scripts/services/platform_service_data.js"></script>
<script src="scripts/services/device_service_data.js"></script>

<script src="scripts/constants/backend_constants.js"></script>
<script src="scripts/constants/client_constant.js"></script>

<!-- endbuild -->
</body>
</html>
